<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <title>旅プレ</title>

    {% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'tabipre/css/base.css' %}">
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

    <div class="app-frame">

        <div class="content-wrapper container">
            {% block content %}
            {% endblock %}
        </div>

        {% if request.user.is_authenticated %}
        <nav class="navbar navbar-light bottom-nav">
            <div class="container d-flex justify-content-around text-center">

                <a class="nav-link text-center" href="{% url 'app:travel_step1' %}">
                    新規旅行<br>
                    <img src="{% static 'tabipre/icons/travel.png' %}" width="28">
                </a>

                <a class="nav-link text-center" href="{% url 'app:home' %}">
                    ホーム<br>
                    <img src="{% static 'tabipre/icons/home.png' %}" width="28">
                </a>

                <a class="nav-link text-center" href="{% url 'app:mypage' %}">
                    マイページ<br>
                    <img src="{% static 'tabipre/icons/mypage.png' %}" width="28">
                </a>

            </div>
        </nav>
        {% endif %}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'tabipre/js/toast.js' %}"></script>

    {% block extra_js %}
    {{ block.super }}
    {% endblock %}

</body>
</html>