{% extends 'base.html' %}
{% load static %}
{% comment %} login.css? {% endcomment %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">新規旅行作成</h1>

    <form method="POST" novalidate>
        {% csrf_token %}

        {% include "parts/travel_form_fields1.html" %}

        <button type="submit" class="btn btn-primary mt-3">次へ</button>

        <p class="mt-2">
            <a href="{% url 'app:home' %}">キャンセル</a>
        </p>
    </form>
</div>

<script src="{% static 'tabipre/js/new_travel/travel_step1.js' %}"></script>
{% endblock %}