{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'tabipre/css/parts/travel_edit.css' %}">
{% endblock %}
{% block content %}
<div class="container mt-4">

    <div class="sub-title mb-3">詳細設定</div>

    <form method="POST" class="travel_step2_form">
        {% csrf_token %}

        {% include 'parts/travel_step2_form.html' %}

        <div class="mt-4 d-flex flex-column gap-3">
            <button type="submit" name="action" value="template" class="btn btn-create">
                テンプレート作成
            </button>

            <button type="button" class="btn btn-copy" data-bs-toggle="modal" data-bs-target="#copyModal">
                前回の旅行からコピー
            </button>
        </div>
    </form>

</div>

{% include 'new_travel/modal/old_travel.html' %}
<script src="{% static 'tabipre/js/new_travel/travel_step2.js' %}"></script>
{% endblock %}