<div class="modal fade clean-radio" id="sortModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header p-2">
                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body sort-modal-body">
                <form method="get" action="">
                    <input type="hidden" name="keyword" value="{{ keyword }}">
                    <input type="hidden" name="transport" value="{{ request.GET.transport }}">

                    <!-- タイトル名 -->
                    <div class="sort-section">
                        <p class="sort-label">タイトル名</p>
                        <div class="stay-type-options">

                            <label class="stay-option">
                                <input type="radio" name="sort" value="title_asc"
                                       {% if sort == "title_asc" %}checked{% endif %}>
                                <span>昇順</span>
                            </label>

                            <label class="stay-option">
                                <input type="radio" name="sort" value="title_desc"
                                       {% if sort == "title_desc" %}checked{% endif %}>
                                <span>降順</span>
                            </label>

                        </div>
                    </div>

                    <!-- 日付 -->
                    <div class="sort-section">
                        <p class="sort-label">日付</p>
                        <div class="stay-type-options">

                            <label class="stay-option">
                                <input type="radio" name="sort" value="date_asc"
                                       {% if sort == "date_asc" %}checked{% endif %}>
                                <span>昇順</span>
                            </label>

                            <label class="stay-option">
                                <input type="radio" name="sort" value="date_desc"
                                       {% if sort == "date_desc" %}checked{% endif %}>
                                <span>降順</span>
                            </label>

                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary sort-submit-btn">並び替え</button>
                </form>
            </div>

        </div>
    </div>
</div>