{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'tabipre/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">

    <h1 class="mb-5">パスワード再設定</h1>


    <form method="POST">
        {% csrf_token %}

        <!-- メールアドレス -->
        <div class="mb-3">
            <label for="{{ form.email.id_for_label }}">メールアドレス</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="text-danger small">{{ form.email.errors }}</div>
            {% endif %}
        </div>

        <input type="submit" value="再設定用メールを送信" class="btn btn-primary w-100">
    </form>

    <div class="link mt-3">
        <a href="{% url 'app:login' %}">ログイン画面はこちら</a>
    </div>

</div>
{% endblock %}