<p>{{ user.user_name }} 様</p>

<p>いつも tabipre をご利用いただきありがとうございます。</p>
<p>a</p>
<p>以下のリンクからパスワードの再設定を行ってください。</p>
<p>このリンクの有効期限は {{ expiration_time }} です。</p>

<p>
<a href="{{ protocol }}://{{ domain }}{% url 'app:password_reset_confirm' uidb64=uid token=token %}">
    パスワード再設定はこちら
</a>
</p>

<p>もしこのメールに心当たりがない場合は、このメールを破棄してください。</p>
<p>第三者が誤ってメールアドレスを入力した可能性があります。</p>

<p>※このメールアドレスは送信専用です。<br>
ご返信いただいてもお答えできません。</p>

<p>※セキュリティ保護のため、このリンクは一定時間で無効になります。</p>
<p>※パスワードは他のサービスと使い回さないようご注意ください。</p>

<p>今後ともよろしくお願いいたします。</p>

<p>旅プレ 運営チーム</p>