{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'tabipre/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="title mb-5">旅プレ</div>

    <!-- フォーム全体のエラー（non_field_errors） -->
    {% if form.non_field_errors %}
        <div class="app-error-box">{{ form.non_field_errors.0 }}</div>
    {% endif %}
    {% if request.GET.next %}
        <div class="app-info-box mb-3">
           共有リンクの編集にはログインが必要です。
        </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}

        <!-- メールアドレス -->
        <div class="mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label">メールアドレス</label>
            {{ form.email }}
            {% if form.email.errors %}
                <p class="app-field-error">{{ form.email.errors.0 }}</p>
            {% endif %}
        </div>

        <!-- パスワード -->
        <div class="mb-4">
            <label for="{{ form.password.id_for_label }}" class="form-label">パスワード</label>
            {{ form.password }}
            {% if form.password.errors %}
                <p class="app-field-error">{{ form.password.errors.0 }}</p>
            {% endif %}
        </div>

        <input type="submit" value="ログイン" class="btn btn-primary w-100">
    </form>

    <div class="link mt-4">
        {% if request.GET.next %}
            <a href="{% url 'app:regist' %}?next={{ request.GET.next }}">アカウント登録</a>
        {% else %}
            <a href="{% url 'app:regist' %}">アカウント登録</a>
        {% endif %}
    </div>

    <p class="link mt-3">
        パスワードを忘れた方は
        <a href="{% url 'app:password_reset' %}">こちら</a>
    </p>
</div>
{% endblock %}