{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'tabipre/login.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
<h1 class="mb-4">旅プレ</h1>
<form method="POST">
    {% csrf_token %} 
    {{ form.as_p}}
    <input type="submit" value="ログイン" class="btn btn-primary w-100">
</form>
    <div class="mt-3">
        <a href="{% url 'app:regist' %}">アカウント登録</a>
    </div>
    <p class="mt-2">
        パスワードを忘れた方は
        <a href="{% url 'app:password_reset' %}">こちら</a>
    </p>
{% endblock%}