.color-palette {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 15px; /* 正の値のみ有効 */
    row-gap: 10px;
    justify-content: center; /* 左寄せで詰める */
}


.color-option {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: border 0.2s ease;
}

/* タイトルの太字を解除 */
.container h2 {
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px; /* 下の余白調整 */
}

/* カラーパレット周りの余白調整 */
.color-palette {
    margin: 20px
}

/* お気に入りから追加ボタンの色変更 */
.favorite-add-btn {
    background-color: #ffe599ff;
    color: #000;
    border: none;
     margin: 20px
}
.favorite-add-btn:hover {
    background-color: #ffd966ff; 
    color: #000;
}


/* キャンセルリンクの見た目調整 */
.text-center a {
    color: #0d6efd;
}
.text-center a:hover {
    text-decoration: underline;
}