<div class="modal fade" id="shareLinkModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-body">

        <label class="form-label">リンクの編集</label>
        <div class="input-group mb-3">
          <input type="text" id="share-url" class="form-control" readonly>
          <button class="btn btn-outline-secondary" id="copy-btn">コピー</button>
        </div>

        <!-- 権限S設定 -->
        <label class="form-label">リンクの権限</label>
        <div class="permission-group">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="permission" value="0" id="perm-view">
            <label class="form-check-label" for="perm-view">閲覧のみ</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="permission" value="1" id="perm-edit">
            <label class="form-check-label" for="perm-edit">編集可能</label>
          </div>
        </div>

      <div class="modal-footer d-flex justify-content-between">

        <button type="button" class="btn btn-primary" id="save-btn">
          登録
        </button>
        
        <a href="#" id="delete-link" class="text-danger">リンクを削除</a> 
      </div>

    </div>
  </div>
</div>