/* アプリ全体の枠 */
.app-frame {
    max-width: 420px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 16px;
    box-sizing: border-box;
    position: relative; 
}

/* コンテンツ領域 */
.content-wrapper {
    padding-top: 40px;
    padding-bottom: 120px; /* ← フッター分の余白 */
}

/* フッター */
.bottom-nav {
    border-top: 1px solid #ddd;
    padding: 5px 0;
    background-color: #f5ebddff;
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
}

.bottom-nav a {
    color: #0097a7;
    font-size: 14px;
    text-decoration: none;
}

.title {
    color: #5c3a3a;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.sub-title {
    color: #5c3a3a;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}


.link-text {
    display: block;
    text-align: center;
    font-size: 15px;
    color: #5c3a3a;
    text-decoration: underline;

}

.link-text:hover {
    color: #000;
}
/* ボタンは検討 */
/* 共通ボタンスタイル */
.app-btn {
    display: block;
    padding: 14px 20px;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    border: none;
}


/* メインボタン（青） */
.app-btn-primary {
    background-color: #4a90e2;
    color: #fff;
}

.app-btn-primary:hover {
    background-color: #3f7fbf;
}


/* サブボタン（グレー） */
.app-btn-secondary {
    background-color: #8a8a8a;
    color: #fff;
}

.app-btn-secondary:hover {
    background-color: #6f6f6f;
}

/* 強調ボタン（黄色） */
.app-btn-warning {
    background-color: #ffab40; 
    color: #ffffff;
}

.app-btn-warning:hover {
    background-color: #e89a3a; 
}

