/* ① 全体設定 */
body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: #ffffff;
}

/* ② 共通レイアウト */
.bottom-nav {
    border-top: 1px solid #ddd;
    padding: 5px 0;
    background-color: #f5ebddff;
}

/* フッター内のリンク */
.bottom-nav a {
    color: #0097a7;          /* ← 指定の色 */
    font-size: 14px;
    text-decoration: none;
}

/* アイコンと文字を縦並びに */
.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

/* アイコン */
.nav-item i {
    font-size: 20px;
    margin-bottom: 2px;
}


.page-title {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
}


.text-center { text-align: center; }
.mt-20 { margin-top: 20px; }


@media (max-width: 768px) {
    .page-title {
        font-size: 20px;
    }
}

.page-radio{
    text-align: center;
}
