/* 全体の背景色 */
body {
    background:  #f5ebddff;
    font-family: "Arial","Helvetica", "sans-serif";
    color: #5c3a3a;
}

/* タイトル */
h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

/* フォームの文字サイズ */
form p label {
    font-size: 1.1rem;
}

/* 入力欄 */
form input[type="e-mail"],
form input[type="password"] 

/* ログインボタン  緑にする？*/
.btn-primary {
    background-color: #00796b;
    border: none;
    font-size: 1.2rem;
    padding: 10px;
}

.btn-primary:hover {
    background-color: #004d40;
}

/* リンク */
a {
    color: #00796b;
    font-size: 1rem;
}

a:hover {
    color: #004d40;
    text-decoration: underline;
}

/* 下の説明文 */
p {
    font-size: 1rem;
} */