{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'tabipre/css/old_template/create_link.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-3">

  <div class="sub-title mb-4">リンクの共有</div>
  <form method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
      <ul class="errorlist">
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
      <a href="{% url 'app:share_settings' %}"  class="btn btn-outline-primary w-100 mt-2">
            作成済みのリンクはこちら
      </a>
    {% endif %}

    <!-- 権限設定 -->
    <div class="mb-4">
      <label class="form-label fw-bold">権限の設定</label>

      <div class="permission-radio">

        <!-- 閲覧のみ -->
        <label>
          <input type="radio" name="permission_type" value="0"
                 {% if form.data.permission_type == "0" or form.initial.permission_type == "0" %}checked{% endif %}>

          <span class="permission-label">
            閲覧のみ:
            <span class="permission-note">リンク先では閲覧のみで内容を変更できません</span>
          </span>
        </label>

        <!-- 編集可能 -->
        <label>
          <input type="radio" name="permission_type" value="1"
                 {% if form.data.permission_type == "1" or form.initial.permission_type == "1" %}checked{% endif %}>

          <span class="permission-label">
            編集可能:
            <span class="permission-note">リンク先では内容を編集できます</span>
          </span>
        </label>

      </div>

      {% if form.permission_type.errors %}
        <div class="text-danger small">{{ form.permission_type.errors.0 }}</div>
      {% endif %}
    </div>

    <!-- 有効期限設定 -->
    <label class="form-label fw-bold">有効期限の設定</label>

    <div class="mb-2">

      <!-- 0: 1か月間有効 -->
      <div class="radio-inline mt-3 expire-radio">
        <label>
          <input type="radio" name="expiration_type" value="0"
                 {% if form.data.expiration_type == "0" or form.initial.expiration_type == 0 %}checked{% endif %}>
          1か月間有効：
          <span class="text-muted">（{{ one_month_later|date:"Y.n.j" }} まで）</span>
        </label>
      </div>

      <!-- 1: 旅行終了日の翌日まで -->
      <div class="radio-inline mt-3 expire-radio">
        <label>
          <input type="radio" name="expiration_type" value="1"
                 {% if is_after_trip_expired %}disabled{% endif %}
                 {% if form.data.expiration_type == "1" or form.initial.expiration_type == 1 %}checked{% endif %}>

          <span class="expire-label">
            旅行終了日の翌日まで：
            <span class="expire-date">（{{ next_day|date:"Y.n.j" }} まで）</span>
          </span>

          {% if is_after_trip_expired %}
            <span class="text-danger small ms-2">※旅行が終了しているため選択できません</span>
          {% endif %}
        </label>
      </div>

      <!-- 2: 日付を指定する -->
      <div class="radio-inline mt-3 expire-radio">
        <label>
          <input type="radio" name="expiration_type" value="2"
                 {% if form.data.expiration_type == "2" or form.initial.expiration_type == 2 %}checked{% endif %}>
          日付を指定する
        </label>
      </div>

      {% if form.expiration_type.errors %}
        <div class="text-danger small">{{ form.expiration_type.errors.0 }}</div>
      {% endif %}

      <!-- 日付入力欄 -->
      <div id="date_input_wrapper" class="calendar-input-wrapper mt-2">
        {{ form.expiration_date }}
          <img src="{% static 'tabipre/icons/calendar.png' %}" class="calendar-icon">
      </div>

      {% if form.expiration_date.errors %}
        <div class="text-danger small">{{ form.expiration_date.errors.0 }}</div>
      {% endif %}

    </div>

    <button type="submit" class="btn btn-primary w-100 mt-3">リンクを発行</button>
  </form>

  <div class="mt-3 text-center">
    <a href="{% url 'app:travel_detail' travel.travel_info_id %}" class="text-secondary">
      キャンセル
    </a>
  </div>

</div>

{% if show_modal %}
  {% include "old_travel/modal/link_modal.html" %}
{% endif %}

{% endblock %}

{% block extra_js %}
<script>
    window.SHOW_MODAL = {{ show_modal|yesno:"true,false" }};
</script>
<script src="{% static 'tabipre/js/old_travel/create_link.js' %}"></script>
{% endblock %}