{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'tabipre/css/parts/travel_edit.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">

    <div class="sub-title mb-3">詳細設定</div>

    <form method="POST" class="travel_step2_form">
        {% csrf_token %}

        <!-- 場所・交通手段・メモ（共通パーツ） -->
        {% include "parts/travel_step2_form.html" %}

        <!--  ボタン-->
        <div class="mt-4 d-flex flex-column gap-3">
            <button type="submit" class="btn btn-create">保存</button>
        </div>

    </form>

</div>

<script src="{% static 'tabipre/js/new_travel/travel_step2.js' %}"></script>
{% endblock %}