.mypage .link-text {
  font-size: 18px;
}

.mypage .link-section p {
  margin: 15px 0;
}

.mypage .sub-title {
  margin-top: 80px;
}

.app-frame {
  background-color: #fdf6f0;
}

/* Buttons */
.app-btn {
  font-weight: normal;
}

.app-btn-primary {
  background-color: #1976d1;
  color: #fff;
  border: none;
  padding: 10px 0;
  font-size: 18px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
}

.app-btn-primary:hover {
  background-color: #1565c0;
}

.app-btn-secondary {
  background: #8a8a8a;
  color: #fff;
  text-decoration: none !important;
}

.app-btn-secondary:hover {
  background: #6f6f6f;
}

.app-btn-warning {
  background: #ffab40;
  color: #fff;
  text-decoration: none !important;
}

.app-btn-warning:hover {
  background: #e89a3a;
}

.statement p {
  margin-bottom: 2px;
  font-size: 16px;
}
/* ログアウト区切り線 */
.logout-divider {
  margin: 20px 0;
  border-width: 2px;
  border-color: #ccc;
}

/* ログアウトリンク */
.logout-link {
  color: #666;
  font-size: 16px;
  display: block;
  text-align: center;
}

.logout-link:hover {
  text-decoration: underline;
}
