<div class="modal fade" id="continueModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body text-center">
        <p>処理を続けますか？</p>

        <div class="d-flex gap-4 justify-content-center mt-3">

          {% if template %}
          <!-- はい -->
          <button type="button"
                  class="btn btn-success"
                  onclick="window.location.href='{% url 'app:add_category_item' template.id %}'">
              はい
          </button>

          <!-- いいえ -->
          <button type="button"
                  class="btn btn-secondary"
                  onclick="window.location.href='{% url 'app:template_edit2' template.id %}'">
              いいえ
          </button>
          {% endif %}

        </div>

      </div>

    </div>
  </div>
</div>