{% for item in category.travelitem_set.all|dictsort:"item_checked" %}
    <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">

            <div class="d-flex align-items-center">
                <input type="checkbox"
                       class="custom-checkbox me-2"
                       onchange="toggleItem({{ item.id }})"
                       {% if item.item_checked %}checked{% endif %}>
                <span>{{ item.item_name }}</span>
            </div>

        </div>
    </li>
{% empty %}
    <li class="list-group-item text-muted">項目がありません</li>
{% endfor %}