{% load static %}
<div class="modal fade" id="addItemModal" tabindex="-1">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header border-0">
        <div class="modal-title text-center w-100">新しい項目を入力</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      {% if messages %}
        <div class="px-3 pt-2">
          {% for message in messages %}
            <div class="errorlist py-1 mb-2">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}

      <form method="POST" action="{% url 'app:add_item_page' current_template.id %}">
        {% csrf_token %}

        <div class="modal-body">

          <input type="hidden" name="category_id" id="modalCategoryId"
                 value="{{ error_category_id }}">

          <div class="d-flex align-items-center">

            <div class="me-2 text-center">
              <div class="favorite-label text-muted">お気に入り</div>
              <img id="favoriteStar"
                  class="favorite-star"
                  src="{% static 'tabipre/icons/star_off.png' %}"
                  data-on="{% static 'tabipre/icons/star_on.png' %}"
                  data-off="{% static 'tabipre/icons/star_off.png' %}">
              <input type="hidden" name="favorite" id="favoriteValue" value="0">
            </div>

            <div class="flex-grow-1 mt-3">
              <input type="text"
                     name="item_name"
                     value="{{ old_value }}"
                     class="form-control {% if add_item_error %}is-invalid{% endif %}">
            </div>

          </div>

        </div>

        <div class="modal-footer justify-content-center">
          <button type="submit"
                  class="btn app-submit mt-0 w-50">
           登録
          </button>
        </div>

      </form>

    </div>
  </div>
</div>