{% load static %}
<div class="modal fade eddit_item_modal"
     id="editItemModal"
     tabindex="-1">

  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header border-0 justify-content-center position-relative">
        <h5 class="modal-title text-center w-100">編集</h5>
      </div>

      {% if open_edit_modal and messages %}
      <div class="px-3 pt-2">
        {% for message in messages %}
          <div class="errorlist py-1 mb-2">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}

      <form method="POST" id="editItemForm" action="{% url 'app:edit_item' %}">
        {% csrf_token %}

        <input type="hidden" name="edit_item_id" id="editItemId">

        <div class="modal-body">
          <div class="d-flex align-items-center">


            <input type="text"
                   name="item_name"
                   id="editItemInput"
                   class="form-control border-0 border-bottom me-3 {% if open_edit_modal and messages %}is-invalid{% endif %}"
                   placeholder="項目を入力">

            <button type="button"
                    class="btn p-0 delete-item-btn"
                    style="border: none; background: none;">
              <img src="{% static 'tabipre/icons/trash.png' %}" width="22" alt="削除">
            </button>

          </div>
        </div>

        <div class="modal-footer d-flex flex-column align-items-center border-0">


          <button type="submit"
                  class="btn btn-primary mb-0 w-50 py-2">
            登録
          </button>

          <a href="#" class="back-link" data-bs-dismiss="modal">キャンセル</a>
        </div>

      </form>

    </div>
  </div>
</div>