{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'tabipre/css/mypage/mypage.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">

    <div class="mt-5 mb-4 sub-title">メールアドレス変更</div>

    <form method="post" novalidate>
        {% csrf_token %}

        <!-- 現在のメール -->
        <div class="mt-5 mb-3">
            <label class="form-label">現在のメールアドレス</label>

            <input
                type="email"
                name="current_email"
                class="form-control {% if error_current %}is-invalid{% endif %}"
                value="{{ current_email }}"
                oninput="this.value = this.value.toLowerCase();"
                required
            >

            {% if error_current %}
                <div class="invalid-feedback">
                    {{ error_current }}
                </div>
            {% endif %}
        </div>

        <!-- 新しいメール -->
        <div class="mb-3">
            <label class="form-label">新しいメールアドレス</label>

            <input
                type="email"
                name="new_email"
                class="form-control {% if error_new %}is-invalid{% endif %}"
                value="{{ new_email }}"
                oninput="this.value = this.value.toLowerCase();"
                required
            >

            {% if error_new %}
                <div class="invalid-feedback">
                    {{ error_new }}
                </div>
            {% endif %}
        </div>

        <div class="d-grid gap-2 mb-4">
            <button type="submit" class="app-btn-primary">変更</button>
        </div>
    </form>

    <div class="text-center mb-3">
        <a href="{% url 'app:mypage' %}" class="back-link">キャンセル</a>
    </div>

</div>
{% endblock %}