<div class="modal fade" id="favoriteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">お気に入りから選択</h5>
      </div>

      <div class="modal-body">
        <form id="favoriteForm">
          {% for fav in favorite_items %}
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox"
                     name="favorite_items"
                     value="{{ fav.item_name }}"
                     id="fav_{{ forloop.counter }}">
              <label class="form-check-label" for="fav_{{ forloop.counter }}">
                {{ fav.item_name }}
              </label>
            </div>
          {% endfor %}
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
      </div>

    </div>
  </div>
</div>