{% extends 'base.html' %}
{% load static %}

{% block body_class %}favorites_list{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'tabipre/css/favorites.css' %}">
{% endblock %}
{% block content %}
<div class="container mt-4">

    <h2 class="mb-5 sub-title">お気に入りリスト</h2>

    {% if favorite and favorite.items.all %}
        <ul class="list-group mb-4">
            {% for item in favorite.items.all %}
                <li class="list-group-item">・　{{ item.item_name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-center text-muted mb-4">お気に入りはまだ登録されていません。</p>
    {% endif %}

    <div class="d-grid gap-2 mb-3">
        <a href="{% url 'app:favorites_edit' %}" class="btn btn-primary">
            編集する
        </a>
    </div>

    <div class="text-center mb-5">
        <a href="{% url 'app:mypage' %}" class="back-link">
            戻る
        </a>
    </div>

</div>
{% endblock %}