{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="container mt-4">

    <h2 class="mb-4 sub-title">アカウント名変更</h2>

    <form method="post" novalidate>
        {% csrf_token %}

        <!-- 名前 -->
        <div class="mb-3">
            <label for="user_name" class="form-label">名前 / ニックネーム</label>
            <input
                type="text"
                id="user_name"
                name="user_name"
                class="form-control"
                value="{{ user.user_name }}"
                required
            >
        </div>

        <div class="d-grid gap-2 mb-4">
            <button type="submit" class="app-btn-primary">変更</button>
        </div>
    </form>

    <div class="text-center mb-3">
        <a href="{% url 'app:mypage' %}" class="back-link">キャンセル</a>
    </div>

</div>
{% endblock %}